// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.tabletext {
  height: 80px;
  overflow: hidden;
  line-height: 16px;
}

.navbar  {
  height: 100px;
  background-color: #4a5568;
}

.nav-item  {
  font-size: 28px;
}
